<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rydvi.clean_vrn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.teams.TeamListActivity"
            android:label="@string/title_team_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rydvi.clean_vrn.MainActivity" />
        </activity>
        <activity
            android:name=".ui.teams.TeamDetailActivity"
            android:label="@string/title_team_detail"
            android:parentActivityName=".ui.teams.TeamListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rydvi.clean_vrn.ui.teams.TeamListActivity" />
        </activity>
        <activity android:name=".ui.games.GamesListActivity" />
        <activity
            android:name=".ui.organizators.OrganizatorListActivity"
            android:label="@string/title_organizator_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rydvi.clean_vrn.MainActivity" />
        </activity>
        <activity
            android:name=".ui.organizators.OrganizatorDetailActivity"
            android:label="@string/title_organizator_detail"
            android:parentActivityName=".ui.organizators.OrganizatorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rydvi.clean_vrn.ui.organizators.OrganizatorListActivity" />
        </activity>
        <activity
            android:name=".ui.games.GameDetailActivity"
            android:label="@string/menu_games"
            android:parentActivityName=".ui.games.GameListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rydvi.clean_vrn.ui.games.GameListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>